body {
    background-color: #e8e8e8;
}

.container {
    background-color: transparent;
    padding: 0;
    top: 300px;
}


.form-box {
    top: 100px;
}

#courseDetail{
    display: block;
    position: relative;
    padding: 50px;
    background-color: white;
    border: solid lightgrey 1px;
}

.course {
    margin: auto;
    text-align: center;
}

.title {
    margin: 0 auto;
}
.course-type {
    position: absolute;
    padding: 10px;
    font-size: 14px;
    margin-left: -50px;
    background-color: limegreen;
    color: white;
    border-radius: 20px;
}
.course-name {
    font-size: 7em;
    text-align: center;
    margin: 0 auto;
}

.attr-container ul {
    list-style-type: none;
    text-align: center;

}

.attr-container li {
    display: inline-block;
    padding: 10px;
}
.attr-container li:before {
    content: '*';
}
.info-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
}

.info {
    width: 50%;
    font-size: 2em;
}

.info span {
    display: inline-block;
}
.info-title {
    min-width: 130px;
}

.tags * {
    display: inline-block;
}

/******** 課程資訊Tab頁面 ********/
.tab-box {
    margin-top: 10px;
}

.tab-pane {
    background-color: white;
    height: 600px;
    padding: 50px;
    margin: 0;
    overflow-y: scroll;
}

#outline table {
    counter-reset: serial-num;
}

#outline tr:first-child:before {
    counter-increment: serial-num;
    content: counter(serial-num, "")
}
/************** END ***************/

/***** 學生評論 *****/
.comments {
    background-color: white;
    min-height: 500px;
    margin-top: 50px;
    padding: 50px;
}

.comment-pane {
    min-height: 50px;
}
.comment-pane h1 {
    display: inline-block;
    margin: 0px;
    float: left;
}
#write-comment {
    display: inline-block;
    font-size: 2em;
    float: right;
    padding: 5px;
}
/************** END ***************/
/***** footerBox in course_info page *****/
#footerBox{
    width:100%;
    height: 100px;
    background-color: #2f485b;
    text-align: center;
    padding-top: 20px;
}

#footerDiscript{
    font-size:13px;
    color: #eeeeee;
    line-height:20px;
}

#footerDiscript a{
    color: #eeeeee;
    padding: 3px;
}
/***** END *****/

.radio_field {
    padding: 10px;
}

.radio_text {
    font-size: 16px;
}

/*test*/
.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

/*for skull rating*/
.skull {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}

.skull:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.skull:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.skull:not(:checked) > label:before { content: '☠'; }

.skull > input:checked ~ label { color: rgba(28, 28, 28, 0.98); }

.skull:not(:checked) > label:hover, .skull:not(:checked) > label:hover ~ label { color: #a8a5a8; }

.skull > input:checked + label:hover, .skull > input:checked + label:hover ~ label, .skull > input:checked ~ label:hover, .skull > input:checked ~ label:hover ~ label, .skull > label:hover ~ input:checked ~ label { color: #979594; }
