#main_div{
    margin:0;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

/*頂部區塊*/
#jumbotron {
    position: relative;
    height: 500px;
    width: 100%;
    text-align: center;
}

#head-image {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffffff url(http://sc.hs.yzu.edu.tw/images/header/post04.jpg) no-repeat;
    background-size: cover;
    filter: blur(3px);
}

#search-content{
    width: 60%;
}

#search-container{
    position: absolute;
    width:60%;
    left:20%;
    top:50%;
}

/*====================*/

/*學院下拉選單*/
.academy-menu {
    background-color: black;
    text-align: center;
    margin: auto;
}


.academy {
    display: inline-block;
    color: white;
    font-size: 1em;
    background-color: black;
    padding: 20px 30px;
    transition-timing-function: ease-in;
    -webkit-transition: box-shadow 0.5s, background-color 0.5s; /*Safari*/
    transition: box-shdow 0.5s ,background-color 0.5s;
}

.academy:hover {
    background-color: #3c3c3c;
}


/*下拉選單*/
.academy .dept-menu
{
    display: block;
    position: absolute;
    list-style: none outside;
    padding: 0px;
    text-align: left;
    min-width: 100px;
    margin-left: -30px;
    visibility: hidden;
    z-index: 10;
    background-color: rgba(40, 40, 40, 0.9);
}

.academy .dept {
    color: white;
    font-size: 1em;
    padding: 10px;
}

.academy:hover .dept-menu
{
    visibility: visible;
}

.dept:hover
{
    background-color: rgb(128, 128, 128);
}

/* end 學院下拉選單 ==================================*/

/*條件過濾框*/
.filter-container {
    text-align: center;
    background: inherit;
    margin: auto;
}
.condition-filter {
    text-align: left;
    background: white;
    width: 65%;
    border-top: solid #e8e8e8 2px;
}

.condition-row {
    padding: 5px 10px;
    border-bottom: solid #e8e8e8 2px;
    border-left: solid  #e8e8e8 2px;
    border-right: solid #e8e8e8 2px;
}

.condition-title {
    display: inline-block;
    width: 100px;
    padding: 5px;
}

.conditions {
    display: inline-block;
}

.filter_element{
    display: inline-block;
    visibility: hidden;
}
.filter_element_text{
    font-weight: normal;
}
.filter_element:checked + span {
    font-style: italic;
    font-weight:bold;
}
.filter_title{
    display: inline-block;
}
.filter_group{
}
.element_margin{
    margin-left:60px;
    margin-right: 60px;
}
#hint_text{
    margin-bottom: 20px;
}
/*end 條件過濾框==========================================*/

/*為了不讓索引列遮到中間區*/
.container-fluid {
    padding: 70px;
}

/********** 課程資訊頁面 ************/
div.background-1 {
    background-color: white;
}

div.background-2 {
    background-color: #474e5d;
    color: white;
}
/*** 課程推薦度區塊 ***/
/*放circle區塊的位置設定*/
.svg.radial-progress {
  position: relative;
  display: inline-block;
}

svg {
  transform: rotate(270deg);
}

circle {
  stroke-width: 12;
  fill: transparent;
  transform: rotate(0.1deg); // to fix Firefox
}

.radial-progress-background {
  stroke: #1abc9c;
}

.radial-progress-cover {
  stroke: #ccc;
  stroke-width: 13;
  border: 12px solid red;
}

.radial-progress-center {
  fill: white;
}
/*** END ***/
/*** 課程資訊顯示區塊 ***/
div p.course_info {
    color: white;
    font-size: 24px;
}

div ul li {
    display: inline;
}
/*** END ***/

/*** 課程資訊Tab頁面 ***/
/*按下tab後顯示的區塊*/
.tab_content {
    display:none;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-top: none;
}
/*** END ***/
/************** END ***************/


