/***** footerBox in course_info page *****/
#footerBox{
    width:100%;
    height: 100px;
    background-color: #2f485b;
    text-align: center;
    padding-top: 20px;
}

#footerDiscript{
    font-size:13px;
    color: #eeeeee;
    line-height:20px;
}

#footerDiscript a{
    color: #eeeeee;
    padding: 3px;
}
/***** END *****/

