.form-box {
    margin: 50px auto;
    width: 40%;
}

.form-content {
    margin: auto;
    min-height: 800px;
}

.radio_field {
    padding: 10px;
}

.radio_text {
    font-size: 16px;
}

.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before { content: '★ '; }

.rate > input:checked ~ label { color: #ffc700; }

.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #deb217; }

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label { color: #c59b08; }

/*for skull rating*/
.skull {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}

.skull:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.skull:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.skull:not(:checked) > label:before { content: '☠'; }

.skull > input:checked ~ label { color: rgba(28, 28, 28, 0.98); }

.skull:not(:checked) > label:hover, .skull:not(:checked) > label:hover ~ label { color: #a8a5a8; }

.skull > input:checked + label:hover, .skull > input:checked + label:hover ~ label, .skull > input:checked ~ label:hover, .skull > input:checked ~ label:hover ~ label, .skull > label:hover ~ input:checked ~ label { color: #979594; }

#comment{
    width:650px;
    height: 200px;
}

/******* Questionnaire progress field *******/
button.each_question {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.each_question.active, button.each_question:hover {
    background-color: #ddd;
}

div.question_content {
    padding: 0 18px;
    background-color: white;
    display: -webkit-inline-box;
}

div.question_content.show {
    display: block;
}

div.question_content p {
    font-size: 18px;
    background-color: white;
}
/******* END *******/