@import com.fasterxml.jackson.databind.JsonNode
@(title: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/courseInfo.css")">
    </head>
    <body>
        @nav(title)

        <div class="container">
            <div class="form-box">
                <div id="courseDetail">
                    <div class="course">
                        <div class="title">
                            <span class="course-type"></span>
                            <span class="course-name">課程名稱遺失</span>
                            <div class="attr-container">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="info-container">
                        <div class="info">
                            <div class="teachers">
                                <span class="info-title">教師:</span>
                                <span>教師姓名遺失</span>
                            </div>
                        </div>
                        <div class="info">
                            <span class="info-title">推薦度:</span>
                            <span class="recommend">沒有統計資料</span>
                        </div>
                        <div class="info">
                            <span class="info-title">系所:</span>
                            <span class="dept">學系 年級</span>
                        </div>
                        <div class="info">
                            <span class="info-title">難度:</span>
                            <span class="difficulty">沒有統計資料</span>
                        </div>
                        <div class="info">
                            <span class="info-title">學分:</span>
                            <span class="credit"></span>
                        </div>
                        <div class="info">
                            <div class="place">
                                <span class="info-title">教室:</span>
                                <span>未指定</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="pre-requisite">
                                <span class="info-title">先修課程:</span>
                                <span>無</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="time">
                                <span class="info-title">上課時間:</span>
                                <span>未指定</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="introduce">
                        <h1>課程介紹</h1>
                        <p>教師尚未填寫教學介紹</p>
                    </div>
                    <div class="teach-approach">
                        <h1>教學方式</h1>
                        <p>教師尚未填寫教學方式</p>
                    </div>
                    <hr />
                    <div class="note">
                        <p>無</p>
                    </div>
                    <div class="tags">
                        <span>標籤:</span>
                        <div class="tag"></div>
                    </div>
                </div>
            </div>
            <div class="tab-box">
                <ul class="nav nav-tabs">
                    <li class="active"><a class="tab_links" data-toggle="tab" href="#outline">課程大綱</a></lic>
                    <li><a class="tab_links" data-toggle="tab" href="#course-obj">課程目標</a></li>
                    <li><a class="tab_links" data-toggle="tab" href="#grade">評分方式</a></li>
                    <li><a class="tab_links" data-toggle="tab" href="#textbook">參考書籍</a></li>
                    <li><a class="tab_links" data-toggle="tab" href="#office-hour">Office Hour</a></li>
                    <li><a class="tab_links" data-toggle="tab" href="#comment-teacher">教師評論</a></li>
                </ul>

                <div class="tab-content">
                    <div id="outline" class="tab-pane in active">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th>項目</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="course-obj" class="tab-pane">
                        <h3>學生目標</h3>
                        <table id="stu-obj" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th>項目</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <h3>系所目標</h3>
                        <table id="dept-obj" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th>項目</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="grade" class="tab-pane">
                        <h3>主要評分標準</h3>
                        <table id="scoring" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th>項目</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <h3>其他評分標準</h3>
                        <table id="other-scoring" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th>項目</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="textbook" class="tab-pane">
                        <table id="book" class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="col-md-1">編號</th>
                                    <th class="col-md-4">名稱</th>
                                    <th class="col-md-1">資源類型</th>
                                    <th class="col-md-1">類別</th>
                                    <th class="col-md-1">語言</th>
                                    <th class="col-md-1">連結</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="office-hour" class="tab-pane">
                        <p>教師尚未指定Office Hour.</p>
                    </div>
                    <div id="comment-teacher" class="tab-pane">
                        <p>目前授課教師還為對此課程評論</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="comments">
                <div class="comment-pane">
                    <h1>學生評論</h1>
                    <button type="button" id="write-comment" class="btn btn-primary">撰寫評論</button>
                </div>
                <hr />
            </div>
        </div>

        @footerBox("")
        <script src="@routes.Assets.versioned("javascripts/courseInfo.js")"></script>
    </body>
</html>
