@(department_list : scala.List[String])
<!DOCTYPE html>
<div id="space" >
  <li class="dep center">
    <a>管理學院</a>
    <ul class="departmentNavigation">
      <li>管理學院學士班</li>
      <li>管理學院經營管理碩士班</li>
      <li>管理學院財務金融暨會計碩士班</li>
      <li>管理學院管理碩士在職專班</li>
      <li>管理學院博士班</li>
    </ul>
  </li>

  <li class="dep center">
    <a>人文社會學院</a>
    <ul class="departmentNavigation">
      <li>應用外語學系學士班</li>
      <li>中國語文學系學士班</li>
      <li>藝術與設計學系學士班</li>
      <li>社會暨政策科學學系學士班</li>
      <li>應用外語學系碩士班</li>
      <li>中國語文學系碩士班</li>
      <li>藝術與設計學系(藝術管理碩士班)</li>
      <li>社會暨政策科學學系碩士班</li>
      <li>文化產業與文化政策博士學位學程</li>
    </ul>
  </li>

  <li class="dep center">
      <a>工程學院</a>
      <ul class="departmentNavigation">
        <li>機械工程學系學士班</li>
        <li>化學工程與材料科學學系學士班</li>
        <li>工業工程與管理學系學士班</li>
        <li>化學工程與材料科學學系碩士班</li>
        <li>工業工程管理與管理學系碩士班</li>
        <li>生物科技工程研究所碩士班</li>
        <li>先進能源碩士學位學程</li>
        <li>機械工程學系博士班</li>
        <li>化學工程與材料科學學系博士班</li>
        <li>工業工程與管理學系博士班</li>
      </ul>
  </li>

  <li class="dep center">
    <a>資訊學院</a>
    <ul class="departmentNavigation">
      <li data-dept="CS-BS">資訊工程學系學士班</li>
      <li data-dept="CS-MS">資訊工程學系碩士班</li>
      <li data-dept="CS-PhD">資訊工程學系博士班</li>
      <li>資訊管理學系學士班</li>
      <li>資訊管理學系碩士班</li>
      <li>資訊管理學系博士班</li>
      <li>資訊傳播學系學士班</li>
      <li>資訊傳播學系碩士班</li>
      <li>資訊傳播學系博士班</li>
    </ul>
  </li>

  <li class="dep center">
    <a>電機通訊學院</a>
    <ul class="departmentNavigation">
      <li>電機工程學系學士班</li>
      <li>通訊工程學系學士班</li>
      <li>光電工程學系學士班</li>
      <li>電機工程學系碩士班</li>
      <li>通訊工程學系碩士班</li>
      <li>光電工程學系碩士班</li>
      <li>電機工程學系博士班</li>
      <li>通訊工程學系博士班</li>
      <li>光電工程學系博士班</li>
    </ul>
  </li>

  <li class="dep center">
    <a>通識教學部</a>
  </li>

  <li class="dep center">
    <a>體育室</a>
  </li>

  <li class="dep center">
    <a>軍訓室</a>
  </li>
</div>