<div id="academy-list" >
  <li class="academy">
    <span class="dept-header">管理學院</span>
    <ul class="dept-menu">
      <li class="dept" data-dept="CM-BS">管理學院學士班</li>
      <li class="dept" data-dept="CM-MS">管理學院經營管理碩士班</li>
      <li class="dept" data-dept="CM-MS">管理學院財務金融暨會計碩士班</li>
      <li class="dept" data-dept="GM-MS">管理學院管理碩士在職專班</li>
      <li class="dept" data-dept="CM-PhD">管理學院博士班</li>
    </ul>
  </li>

  <li class="academy">
    <span class="dept-header">人文社會學院</span>
    <ul class="dept-menu">
      <li class="dept" data-dept="FL-BS">應用外語學系學士班</li>
      <li class="dept" data-dept="FL-MS">應用外語學系碩士班</li>
      <li class="dept" data-dept="CC-BS">中國語文學系學士班</li>
      <li class="dept" data-dept="CC-MS">中國語文學系碩士班</li>
      <li class="dept" data-dept="AD-BS">藝術與設計學系學士班</li>
      <li class="dept" data-dept="AM-MS">藝術與設計學系(藝術管理碩士班)</li>
      <li class="dept" data-dept="SC-BS">社會暨政策科學學系學士班</li>
      <li class="dept" data-dept="SC-MS">社會暨政策科學學系碩士班</li>
      <li class="dept" data-dept="IP-PhD">文化產業與文化政策博士學位學程</li>
    </ul>
  </li>

  <li class="academy">
      <span class="dept-header">工程學院</span>
      <ul class="dept-menu">
        <li class="dept" data-dept="ME-BS">機械工程學系學士班</li>
        <li class="dept" data-dept="ME-MS">機械工程學系碩士班</li>
        <li class="dept" data-dept="ME-PhD">機械工程學系博士班</li>
        <li class="dept" data-dept="IE-BS">工業工程與管理學系學士班</li>
        <li class="dept" data-dept="IE-MS">工業工程與管理學系碩士班</li>
        <li class="dept" data-dept="IE-PhD">工業工程與管理學系博士班</li>
        <li class="dept" data-dept="CH-BS">化學工程與材料科學學系學士班</li>
        <li class="dept" data-dept="CH-MS">化學工程與材料科學學系碩士班</li>
        <li class="dept" data-dept="CH-PhD">化學工程與材料科學學系博士班</li>
        <li class="dept" data-dept="BI-MS">生物科技工程研究所碩士班</li>
        <li class="dept" data-dept="ER-MS">先進能源碩士學位學程</li>
      </ul>
  </li>

  <li class="academy">
    <span class="dept-header">資訊學院</span>
    <ul class="dept-menu">
      <li class="dept" data-dept="CS-BS">資訊工程學系學士班</li>
      <li class="dept" data-dept="CS-MS">資訊工程學系碩士班</li>
      <li class="dept" data-dept="CS-PhD">資訊工程學系博士班</li>
      <li class="dept" data-dept="IM-BS">資訊管理學系學士班</li>
      <li class="dept" data-dept="IM-MS">資訊管理學系碩士班</li>
      <li class="dept" data-dept="IM-PhD">資訊管理學系博士班</li>
      <li class="dept" data-dept="IC-BS">資訊傳播學系學士班</li>
      <li class="dept" data-dept="IC-MS">資訊傳播學系碩士班</li>
      <li class="dept" data-dept="IC-PhD">資訊傳播學系博士班</li>
      <li class="dept" data-dept="SI-MS">資訊社會學碩士學位學程</li>
      <li class="dept" data-dept="CB-MS">生物與醫學資訊碩士學位學程</li>
    </ul>
  </li>

  <li class="academy">
    <span class="dept-header">電機通訊學院</span>
    <ul class="dept-menu">
      <li class="dept" data-dept="EE-BS">電機工程學系學士班</li>
      <li class="dept" data-dept="EE-MS">電機工程學系碩士班</li>
      <li class="dept" data-dept="EE-PhD">電機工程學系博士班</li>
      <li class="dept" data-dept="CN-BS">通訊工程學系學士班</li>
      <li class="dept" data-dept="CN-MS">通訊工程學系碩士班</li>
      <li class="dept" data-dept="CN-PhD">通訊工程學系博士班</li>
      <li class="dept" data-dept="EO-BS">光電工程學系學士班</li>
      <li class="dept" data-dept="EO-MS">光電工程學系碩士班</li>
      <li class="dept" data-dept="EO-PhD">光電工程學系博士班</li>
    </ul>
  </li>

  <li class="academy">
    <span class="dept-header">通識教學部</span>
    <ul class="dept-menu">
      <li class="dept" data-dept="GN-all">自然科學</li>
      <li class="dept" data-dept="LE-all">人文藝術</li>
      <li class="dept" data-dept="GS-all">社會科學</li>
      <li class="dept" data-dept="LS-all">生命科學</li>
      <li class="dept" data-dept="CL-all">國文</li>
      <li class="dept" data-dept="FC-all">經典五十</li>
    </ul>
  </li>

  <li data-dept="EL-all" class="academy dept">
    <span class="dept-header">國際語言文化中心</span>
  </li>

  <li data-dept="PL-all" class="academy dept">
    <span class="dept-header">體育室</span>
  </li>

  <li data-dept="MT-all" class="academy dept">
    <span class="dept-header">軍訓室</span>
  </li>
</div>