@(text: String)
<!DOCTYPE html>
<div id="footerBox">
  <div id="footerDiscript">
          © Copyright
    <a href="https://github.com/Rileghft">Rileghft</a>
    <a href="https://github.com/fnsne">fnsne</a>
    <a href="https://github.com/Determinazione">Jomini_Lin</a>
    <a href="https://github.com/Rileghft/CourseComment">Source code</a>
    <br>
    <a href="https://github.com/">GitHub</a>
    <a href="https://www.playframework.com/">play framework</a>
    <a href="http://getbootstrap.com/">Bootstrap</a>
  </div>
</div>