@(title: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/courseInfo.css")">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- all bootstrap need jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- 最新編譯和最佳化的 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    @nav(title)
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3">
                <div class="col-xs-12">
                    <h4>課程資訊</h4>

                </div>
                <div class="col-xs-12">
                    <h4>填答進度</h4>

                </div>
            </div>

            <div class="col-sm-9">
                <h4>問卷</h4>
                <hr>
                <h2>問題一</h2>
                <p>問題內容</p>
                <br><br>

                <button type="submit" class="btn">下一題</button>
                <br><br>
            </div>
        </div>
    </div>
    @footerBox("")
</body>
</html>